body {
    font-family: 'Roboto', sans-serif;
}

.page {
    text-align: center;
}

a, a:visited {
    color:black;
}

.content {
    margin: 1em 0 1em 0;
    min-height: 20em;
}

.img {
    float: left;
    overflow-x: hidden;
    overflow-y: hidden;
    border: 1px solid black;
    margin-right: 2em;
    width: 200px;
    height: 200px;
}

.img img {
    height: 200px;
}

.title {
    font-weight: bold;
    font-size: 1.5em;
    padding-bottom: 0.1em;
}

.type {
    font-weight: bold;
    font-size: 0.8em;
    padding-bottom: 1em;
}

.links {
    text-align: right;
}

.price {
    font-weight: bold;
    font-size: 1.4em;
}

.advert {
    text-align: left;
    width: 1000px;
    margin: 5em auto;
    border: 1px solid black;
    padding: 1em;
    min-height: 210px;
}

.send-button {
    background-color: #73ea73;
    padding: 1em 2em;
    line-height: 2em;
    border: 0px solid black;
    font-size: 18px;
    cursor: pointer;
}

.button-container {
    height: 5em;
    padding: 1em;
}

.button-container a, .button-container a:visited {
    text-decoration: none;
}

.edit-form {
    width: 1000px;
    margin: 0 auto;
    text-align: left;
    border: 1px solid black;
    padding: 10px
}

.edit-form input, .form-item select, .form-item textarea {
    width: 100%;
    font-size: 18px;
}

.form-item {
    margin-bottom: 1em;
}

body {
    text-align: center;
}

.advert {
    border: solid 1px black;
    width: 1000px;
    margin: 0 auto;
    padding: 10px 30px;
    text-align: left;
}

.advert img {
    width: 200px;
    height: 200px;
    border: solid 1px black;
    float: left;
    margin-right: 50px;
}

.common-info {
    height: 202px;
}

.common-info h3 {
    font-size: 13px;
    margin: 0;
}

.common-info h2 {
    margin-bottom: 5px;
}

.price {
    padding: 20px;
}

.advert h4 {
    font-size: 19px;
}

.edit-btn a {
    background-color: #5ee18b;
    padding: 10px 30px;
}

.edit-btn {
    height: 40px;
    padding-top: 20px;
    margin-top: 10px;
}

.error {
    width: 50%;
    margin: 1.5em auto;
    background-color: #e5e5e5;
    color: red;
}

.breadcrumbs ul {
    margin: 1.5em 0;
    padding: 5px;
}

.breadcrumbs ul li {
    display: inline;
    border: 1px solid #000;
    padding: 5px;
}